#############################

# Build output

#############################

target/

build/

out/

dist/

classes/


#############################

# Maven

#############################

pom.xml.tag

pom.xml.releaseBackup

pom.xml.versionsBackup

pom.xml.next

release.properties

dependency-reduced-pom.xml


#############################

# Gradle

#############################

.gradle/

.gradle-cache/

!gradle-wrapper.jar

**/build/


#############################

# IDE specific

#############################

# IntelliJ

.idea/

*.iml

*.ipr

*.iws


# Eclipse

.project

.classpath

.settings/

bin/


# VS Code

.vscode/


#############################

# Logs & temp files

#############################

*.log

*.tmp

*.bak

*.swp

*.swo

*.err

*.out


#############################

# OS files

#############################

.DS_Store

Thumbs.db

ehthumbs.db

Desktop.ini


#############################

# Spring Boot

#############################

# Don’t commit environment-specific configs

application-*.yml

application-*.properties

.env

*.db

*.h2.db


#############################

# Docker

#############################

docker-compose.override.yml

.docker/

.dockerignore

*.env

*.local

**/docker-data/


#############################

# Kubernetes

#############################

# If you want to ignore generated manifests

kube-manifests/

*.yaml~    # temporary YAML backups


#############################

# Testing

#############################

# JUnit / test reports

surefire-reports/

failsafe-reports/

test-output/

jacoco.exec

coverage/

*.lcov


#############################

# Package managers

#############################

# Node (if frontend is included)

node_modules/

npm-debug.log

yarn-debug.log

yarn-error.log


#############################

# Misc

#############################

*.class

*.war

*.ear

*.jar

*.zip

*.tar.gz

*.7z

